html, body, #root{
  height: 100%;
}

.not-found-div {
  justify-content: center;
  color: gray;
  display: flex;
  font-style: italic;
}

.primary-logo {
  align-self: center;
  height: 100px;
  width: 300px;
}

.secondary-logo {
  align-self: center;
  height: 25px;
  width: 100px;
}