html, body, #root{
  height: 100%;
  background-color: #212529;
  color: white;
}

.album-card {
  align-self: center;
  background-color: #212529;
  color: white;
  width: 150px;
}

.album-card img{
  width: 100px;
  align-self: center;
  margin-top: 5px;
}

.album-card:hover {
  box-shadow: 10px;
}

.albums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: max-content;
}

.card-body {
  height: 50px;
}

.card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-link {
  text-decoration: none;
  color: #212529;
}

.card-link:hover {
  text-decoration: none;
  color: #212529;
}

.edit-button {
  border-radius: 20px;
  width: fit-content;
  align-self: center;
}

.list-group-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #212529;
  color: white;
}

.user-info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}

.user-info {
  font-weight: bolder;
}

.user-info-title {
  color: gray;
}

.warning-div {
  justify-content: center;
  color: gray;
  display: flex;
  font-style: italic;
}

.primary-logo {
  align-self: center;
  width: 200px;
  height: 50px;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.secondary-logo {
  align-self: center;
  height: 50px;
  width: 200px;
}